// Color Variables

// background
$primary-background: #00BCD4;
$primary-background-hover: #00BCD4;
$primary-background-disable: #00BCD4;
$primary-background-selected: #00BCD4;

$primary-background-text: #00BCD4;
$primary-background-text-hover: #00BCD4;
$primary-background-text-disable: #00BCD4;
$primary-background-text-selected: #00BCD4;

$secondary-background: #00BCD4;
$secondary-background-hover: #00BCD4;
$secondary-background-disable: #00BCD4;
$secondary-background-selected: #00BCD4;

$secondary-background-text: #00BCD4;
$secondary-background-text-hover: #00BCD4;
$secondary-background-text-disable: #00BCD4;
$secondary-background-text-selected: #00BCD4;


$primary-text: #4CAF50;

// foreground

// text colors for dark backgrounds 
$dark-text-primary : rgba(0,0,0,.87);
$dark-text-secondary : rgba(117,117,117,1); // .54
$dark-text-disable : rgba(0,0,0,.38);
$dark-dividers :rgba(0,0,0,.12);

$dark-icon :rgba(0,0,0,.54);
$dark-icon-disable :rgba(0,0,0,.38);


// text colors for light backgrounds 
$light-text-primary : rgba(256,256,256,1);
$light-text-secondary : rgba(256,256,256,.70);
$light-text-disable : rgba(256,256,256,.50);
$light-dividers :rgba(256,256,256,.12);

$light-icon :rgba(256,256,256,1);
$light-icon-disable :rgba(256,256,256,.50);


$dark-action-primary : rgba(0,0,0,.87); //.87
$dark-action-secondary : rgba(0,0,0,.54); // .54
$dark-action-disable : rgba(0,0,0,.38); //.38

// text colors for light backgrounds 
$dark-action-primary-hover : rgba(0,172,193,1);
$dark-action-primary : rgba(0,188,212,1);
$dark-action-secondary : rgba(78,208,255,1); //.70
$dark-action-disable : rgba(128,222,234,1); //.50

// text colors for light backgrounds 
$dark2-action-primary-hover : rgba(245,127,23,1);
$dark2-action-primary : rgba(245,127,23,1);
$dark2-action-secondary : rgba(248,165,92,1); // .70
$dark2-action-disable : rgba(250,191,139,1); //.50


// regular

// disable

// hover

// pressed

