<!DOCTYPE html>
<html>

<head>
    <title> index Page</title>
    <link rel="stylesheet" type="text/css" href="styles\layout.css">
    <!-- style sheet files -->

</head>

<body>

    <header>
        <a href="#" class="logo">Swift</a>
        <nav>
            <a class="select" href="#">Samples</a>
            <a href="#">Documentation</a>
        </nav>
    </header>
    <article id="container">
        <aside ng-controller="NavController as navCtrl">
            <ul class="first">
                <li><a ng-class="{'select': navCtrl.selectedItem === 'Quick Start'}" ng-click="navCtrl.select('Quick Start')" href="#/quickstart">Quick Start</a></li>
                <li>
                    <a class="dropdown" ng-click="navCtrl.toggle('component')" 
                    ng-class="{'open' : navCtrl.menu.component.isOpen, 'select': navCtrl.menu.component.items.indexOf(navCtrl.selectedItem) !== -1 || navCtrl.menu.component.isOpen}"
                    href="">Components</a>
                    <ul class="second">
                        <li><a ng-class="{'select': navCtrl.selectedItem === 'Scroll'}" ng-click="navCtrl.select('Scroll')" href="#/scroll">Scroll</a></li>
                        <li><a ng-class="{'select': navCtrl.selectedItem === 'Accordion'}" ng-click="navCtrl.select('Accordion')" href="#/accordion">Accordion</a></li>
                        <li><a ng-class="{'select': navCtrl.selectedItem === 'Tabs'}" ng-click="navCtrl.select('Tabs')" href="#/tabs">Tabs</a></li>
                    </ul>
                </li>
                <li><a class="dropdown" ng-click="navCtrl.toggle('work')" 
                    ng-class="{'open' : navCtrl.menu.work.isOpen, 'select': navCtrl.menu.work.items.indexOf(navCtrl.selectedItem) !== -1 || navCtrl.menu.work.isOpen}"
                    href="">Work</a>
                    <ul class="second">
                        <li><a ng-class="{'select': navCtrl.selectedItem === 'Positions'}" ng-click="navCtrl.select('Positions')" href="#/positions">Positions</a></li>
                        <li><a ng-class="{'select': navCtrl.selectedItem === 'Dimensions'}" ng-click="navCtrl.select('Dimensions')" href="#/dimensions">Dimensions</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <section id="page">
            <ng-view></ng-virw>
        </section>
    </article>
    <!-- script files -->
    <script src="libs\angular\angular.js"></script>
    <script src="libs\angular-route\angular-route.js"></script>
    <script src="app\app.js"></script>
    <script src="app\components\scroll\scroll-controller.js"></script>
    <script src="app\components\accordion\accordion-controller.js"></script>
    <script src="app\components\tabs\tabs-controller.js"></script>
    <script src="app\work\positions\positions-controller.js"></script>
    <script src="app\work\dimensions\dimensions-controller.js"></script>
</body>

</html>